<div class="alert alert-success" role="alert">
<p>
 <strong><%= comment.commenter %>: </strong><%= comment.body %><br>
</p>
</div>
<p>
  <%= link_to 'Delete Comment', [comment.article, comment], class: 'btn btn-danger',
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>